<div class="container">
<div class="card">
  <div class="card-header">
    User Form
  </div>
  <div class="card-body">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
        <label for="email">Email</label>
        <input 
            type="text"
            class="form-control"
            name="email"
            #userEmail="ngModel"
            [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
            [(ngModel)]="user.email"
            [value]="formValue"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            required
        >
        <div [hidden]="!userEmail.errors?.required"
             class="invalid-feedback">
             Email required
        </div>

        <div [hidden]="!userEmail.errors?.pattern"
             class="invalid-feedback">
             Email is not valid
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <span ><i class="fa fa-eye" (click)="toggleShow()"></i></span>
        <input 
            [type]="show ? 'text' : 'password'"
            class="form-control"
            name="password"
            #userPassword="ngModel"
            [ngClass]="{'is-invalid':userPassword.errors && userPassword.touched}"
            [(ngModel)]="user.password"
            [value]="formValue"
            minlength="8"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$"
            required           
        >
            
        <div  [hidden]="!userPassword.errors?.required"
              class="invalid-feedback">
              Password Required
        </div>

        <div [hidden]="!userPassword.errors?.pattern"
             class="invalid-feedback">
             Password must include one character and one special character
        </div>
      </div>

      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" [formGroup]="subscriptionForm">
        <div class="form-group">
          <label for="subscription">Subscription level</label>
          <select class="form-control" id="subscription" formControlName="subscription">
            <option *ngFor="let subscription of subscriptions" [value]="subscription" >{{subscription}}</option>
          </select>
        </div>

        <input type="submit" value="submit" class="btn btn-primary">
        <button (click)="clearForm()" type="reset" value="reset" class="btn btn-danger">Reset</button>
      </form>
    </form>
  </div>
</div>
</div>